[submodule "vendor/express"]
	path = vendor/express
	url = git://github.com/visionmedia/express.git

[submodule "vendor/nodemon"]
	path = vendor/nodemon
	url = git://github.com/remy/nodemon.git
	
[submodule "vendor/node-dbi"]
	path = vendor/node-dbi
	url = git://github.com/DrBenton/Node-DBI.git
